<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="table">
      <div>
        <h2>E-Team</h2>
        <div class="score">
          1
        </div>
      </div>
      <div>
        <h2>T-Team</h2>
        <div class="score">
          1
        </div>
      </div>
    </div>
  </body>
</html>
